body{
    background-color: #fdfdfd;
}

.banner-imgs{
    
    border-radius: 4px;
}

.intro{
    margin-top: 3em;
    background-color: lightblue;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#our-articles{
}

.my-cards{
    max-width: 90%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    transition: transform 1s;
}



.my-footer{
    margin-top: 1em;
    height: 100%;
    background-color: lightblue;
}

.footer-items{
    text-align: center;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    font-weight: 900;
}

.footer-items p{
    margin:0.8em;
    font-family: helvetica, arial;
    font-weight: 700;
    letter-spacing: 0.1em;
}

@media only screen and (min-width: 768px) {

    .my-cards:hover{
        transform: scale(1.1);
        max-width: 100%;
        transition: box-shadow .5s;
        box-shadow: 0 0 11px rgba(33,33,33,.2);
        z-index: 10;
    }

}

@media only screen and (max-width: 620px){

.footer-items p{
    margin:0.8em;
    font-family: helvetica, arial;
    font-weight: 600;
    letter-spacing: 0em;
}

}